<!DOCTYPE html>
<html>
<head>
	<title>Park: Goal 1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/camera.css"> 
	<link rel="stylesheet" href="/css/layout.css"> 

	<script src="jquery-3.3.1.min.js"></script>
</head>


<body style= "background-color: #d0fcce;">
	<div class="header">
		<h1>Park: Goal 1</h1>
	</div>
	<button onclick="goBack()" style= "background-color: #d0fcce; /* Green */
  border: none;
  color: black;
  padding: 20px; font-size: 20px;">< Back</button>

	<div class="bodyText">
		<br>
		<h3>Take a picture of a flower</h3>
		<br>

		<div class=imgBorder id="cameraOn">
			<img src="http://clipart-library.com/images/di48g6jie.png" style="width:90%">
		</div>
		<br>
		<button class="button" id="takePhoto" onclick="window.location.href='goal1camera'"><img src="https://cdn1.iconfinder.com/data/icons/iconmart-web-icons-2/64/camera-512.png" style="width:37px;height:37px;border:0;"></button>
		<br><br><br><br><br><br>

	</div>

	<div class="icon-bar">
		<a href="home"><i class="fa fa-home"></i></a>
		<a href="task_overview"><i class="fa fa-map-pin"></i></a>
		<a href="rewards"><i class="fa fa-trophy"></i></a>
	</div>

<script>
	function goBack() {
  		window.history.back();
	}

</script>

</body>

<style>
	.bodyText {
		text-align: center;
	}

	.imgBorder {
		border: none;
		padding: 5px;
		display: block;
 		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
	}

	.button {
        background-color: #88EFFF;
        border: 1px solid #6ABAC7;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:10px;
    }
    
    .button:hover {
        background-color: rgba(253, 196, 42, 0.74);
    }  
</style>
</html>
