<!DOCTYPE html>
<html>
<head>
		<title>Goal 1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/camera.css"> 
	<link rel="stylesheet" href="/css/layout.css"> 

	<script src="jquery-3.3.1.min.js"></script>
	<script>
		function goBack() {
	  		window.history.back();
		}
	</script>

	<script type="text/javascript">
		$(document).ready(() => {
			console.log('trying to take a picture');

			// Prefer camera resolution nearest to 1280x720.
			// const constraints = { audio: true, video: { width: 1280, height: 720 } }; 
			navigator.mediaDevices.getUserMedia(constraints)
			.then(function(mediaStream) {
	  		const video = document.querySelector('video');
	  		video.srcObject = mediaStream;
	  		video.onloadedmetadata = function(e) {
	    		video.play();
	  			};
			})
			.catch(function(err) { console.log(err.name + ": " + err.message); }); // always check for errors 	at the end.

			// Elements for taking the snapshot
			var canvas = document.getElementById('canvas');
			var context = canvas.getContext('2d');
			var video = document.getElementById('video');

			// Trigger photo take
			document.getElementById("snap").addEventListener("click", function() {
				context.drawImage(video, 0, 0, 400, 450);

				// Stop all video streams.
    			video.srcObject.getVideoTracks().forEach(track => track.stop());
			});


			// Get access to the camera!
			if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
			    // Not adding `{ audio: true }` since we only want video now
			    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
			        //video.src = window.URL.createObjectURL(stream);
			        video.srcObject = stream;
			        video.play();
			    });
			}
		});	

		var constraints = { video: { facingMode: "user" }, audio: false };
		// Define constants
		const cameraView = document.querySelector("#camera--view"),
		    cameraOutput = document.querySelector("#camera--output"),
		    cameraSensor = document.querySelector("#camera--sensor"),
		    cameraTrigger = document.querySelector("#camera--trigger")

		   // Access the device camera and stream to cameraView
	$('#camera--trigger').click(function() {
		console.log('trying to take a picture');
		function cameraStart() {
		    navigator.mediaDevices
		        .getUserMedia(constraints)
		        .then(function(stream) {
		        track = stream.getTracks()[0];
		        cameraView.srcObject = stream;
		    })
		    .catch(function(error) {
		        console.error("Oops. Something is broken.", error);
		    });
		}

	    window.addEventListener("load", cameraStart, false);
	});

		// when snap button is clicked, replace camera with captured photo
		$('#snap').on('click',function() {
		    $('#one').replaceWith($('#two'));
		});

		function myFunction() {
			document.getElementById("show").innerHTML = "Show the picture to your parent!"
		}
		function completeGoal() {
			var value = parseInt(document.getElementById('number').value, 10);
    			value = isNaN(value) ? 0 : value;
    			value=value +10;
   			document.getElementById('number').value = value;
		}
		
	</script>

</head>



<body>
	<div class="header">
		<h1>Goal 1</h1>
	</div>
	<br>
	<button onclick="goBack()"> Go Back</button>
	<div>
		<div id="one">
			<video id="video" width="100%" height="450" autoplay></video>
		</div>

		<div>
			<button class="snapButton" id="snap" onclick="myFunction()"><img src="https://cdn4.iconfinder.com/data/icons/photography-vol-2/48/87-512.png" style="width:45px;height:45px;border:0;"></button>
		</div>
		<br>
		<div id="two">
			<canvas id="canvas" width="400" height="420"></canvas>
		</div>
		<h3 id="show"></h3>
		<form>
   		<input type="text" id="number" value="0"/>
   		<input type="button" onclick="incrementValue()" value="Increment Value" />
		</form>
	</div>
	<br><br><br><br><br><br>

	<div class="icon-bar">
		<a href="tasks"><i class="fa fa-home"></i></a>
		<a href="task_overview"><i class="fa fa-map-pin"></i></a>
		<a href="rewards"><i class="fa fa-trophy"></i></a>
	</div>

</body>

<style>
	.snapButton{
       background-color: #E84646;
       border-radius:10px;
       left:55%;
       margin: -20px -50px; 
       position:relative;
    }

</style>
</html>
