<!DOCTYPE html>
<html>

<!--
This page shows Goal 1 of the mall where it tells the user to watch birds flying. There is also a button that the parent can click to indicate that the child has completed the goal. This button uses ajax to add 10 points to the user when it's clicked.
-->

<head>
	<title>Mall: Goal 1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/camera.css">
	<link rel="stylesheet" href="/css/layout.css">


	<script src="jquery-3.3.1.min.js"></script>
	<script>
		function goBack() {
	  		window.history.back();
		}
	</script>

	<script type="text/javascript">
		$(document).ready(() => {
			//ajax call to listen to click of completeBtn and send something to backend
			$('#addPointsButton').click(() => {
				console.log('clicked')
				$.ajax({
					url: '/addPoints',
					type: 'POST',
					data: {
									addedPoints: 10,
								},
					success: (data) => {
                       $.ajax({
                       url: '/addGoal',
                       type: 'POST',
                       data: {
                       goalID: 'Birds',
                       },
                       success: (data) => {
                         console.log('you received some data!' + data);
                         window.location="/task_overview";
                  }
                 })
						console.log('you received some data!' + data);
					}
				});
			});
		});
	</script>


</head>

<body style= "background-color: #f3e3ff;">
	<div class="header">
		<h1>Mall: Goal 1</h1>
	</div>

	<button onclick="goBack()" style= "background-color: #f3e3ff;
  border: none;
  color: black;
  padding: 20px; font-size: 20px;">< Back</button>

	<div><center>
	  <h4 id="show" style="text-align: center">Watch the birds flying</h4><br>
	  <div><img src="birds.jpg" style="width:50%"></img><br><br><br><br>
	  <button class="completeStyle" id="addPointsButton">Complete to earn 10 Pts!</button>
	</center></div>

	<div id="points"></div>
	<br><br><br><br><br><br>

	<div class="icon-bar">
		<a href="home"><i class="fa fa-home"></i></a>
		<a href="task_overview"><i class="fa fa-map-pin"></i></a>
		<a href="rewards"><i class="fa fa-trophy"></i></a>
		<a href ="statistics"><i class="fa fa-chart-bar"></i></a>
	</div>

</body>
<style>
	.completeStyle {
		background-color: #C4FAF8;
		border-radius:10px;
		border: 1px solid #6ABAC7;
		font-size:25px;
		color: #6ABAC7;
        left:50%;
        margin: -10% -20%;
        padding:3%;
        padding-right: 4%;
        padding-left: 4%;
    }
</style>
</html>
