<!DOCTYPE html>
<html>
<head>
	<title>Goal 1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/camera.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/popup.css">


	<script src="jquery-3.3.1.min.js"></script>
	<script>
		function goBack() {
	  		window.history.back();
		}
	</script>

	<script type="text/javascript">
		$(document).ready(() => {
			// Prefer camera resolution nearest to 1280x720.
			// const constraints = { audio: true, video: { width: 1280, height: 720 } };
			navigator.mediaDevices.getUserMedia(constraints)
			.then(function(mediaStream) {
	  		const video = document.querySelector('video');
	  		video.srcObject = mediaStream;
	  		video.onloadedmetadata = function(e) {
	    		video.play();
	  			};
			})
			.catch(function(err) { console.log(err.name + ": " + err.message); }); // always check for errors 	at the end.

			// Elements for taking the snapshot
			var canvas = document.getElementById('canvas');
			var context = canvas.getContext('2d');
			var video = document.getElementById('video');

			// Trigger photo take
			document.getElementById("snap").addEventListener("click", function() {
				context.drawImage(video, 0, 0, 400, 450);

				// Stop all video streams.
    			video.srcObject.getVideoTracks().forEach(track => track.stop());
			});


			// Get access to the camera!
			if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
			    // Not adding `{ audio: true }` since we only want video now
			    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
			        //video.src = window.URL.createObjectURL(stream);
			        video.srcObject = stream;
			        video.play();
			    });
			};

			//ajax call to listen to click of completeBtn and send something to backend
			$('#addPointsButton').click(() => {
				console.log('clicked')
				$.ajax({
					url: '/addPoints',
					type: 'POST',
					data: {
		            	addedPoints: 10,
		            },
					success: (data) => {
                    window.location="/task_overview";
						console.log('you received some data!' + data);
					}
				});
			});
		});


		var constraints = { video: { facingMode: "user" }, audio: false };
		// Define constants
		const cameraView = document.querySelector("#camera--view"),
		    cameraOutput = document.querySelector("#camera--output"),
		    cameraSensor = document.querySelector("#camera--sensor"),
		    cameraTrigger = document.querySelector("#camera--trigger")

	// Access the device camera and stream to cameraView
	$('#camera--trigger').click(function() {
		console.log('trying to take a picture');
		function cameraStart() {
		    navigator.mediaDevices
		        .getUserMedia(constraints)
		        .then(function(stream) {
		        track = stream.getTracks()[0];
		        cameraView.srcObject = stream;
		    })
		    .catch(function(error) {
		        console.error("Oops. Something is broken.", error);
		    });
		}

	    window.addEventListener("load", cameraStart, false);
	});

		//function to put canvas over the camera
		function swapFunction() {
			if (document.getElementById('one').style.display == 'none') {
                    document.getElementById('one').style.display = 'block';
                    document.getElementById('two').style.display = 'none';
                    document.getElementById('completeBtn').style.display = 'none';
            }
            else {
                document.getElementById('one').style.display = 'none';
                document.getElementById('two').style.display = 'block';
                document.getElementById('snap').style.display = 'none';
                document.getElementById('show').innerHTML = "Show the picture to your parent and let them click the button below!"
                document.getElementById('completeBtn').style.display = 'block';
            }
		}

	function popupFunction() {
	  var popup = document.getElementById("myPopup");
	  popup.classList.toggle("show");
	  document.getElementById('one').style.display = 'none';
	  document.getElementById('two').style.visibility = 'hidden';
	}


	</script>

</head>



<body>
	<div class="header">
		<h1>Goal 1</h1>
	</div>
	<br>
	<button onclick="goBack()"> Go Back</button>
	<div>
		<div id="one">
			<video id="video" width="100%" height="450" autoplay></video>
		</div>

		<div>
			<button class="snapButton" id="snap" onclick="swapFunction()"><img src="https://cdn4.iconfinder.com/data/icons/photography-vol-2/48/87-512.png" style="width:45px;height:45px;border:0;"></button>
		</div><br>

		<div id="two">
			<canvas id="canvas" width="380" height="400"></canvas>
		</div>

		<h4 id="show" style="text-align: center"></h4><br>

        <center>
		<div>
			<button class="completeStyle" id="addPointsButton">Complete to earn 10 Pts!</button>
		</div>
        </center>
		<div id="points"></div>

	</div><br><br><br><br><br><br>



	<div class="icon-bar">
		<a href="tasks"><i class="fa fa-home"></i></a>
		<a href="task_overview"><i class="fa fa-map-pin"></i></a>
		<a href="rewards"><i class="fa fa-trophy"></i></a>
	</div>

</body>

<style>
	.snapButton{
       background-color: #E84646;
       border-radius:10px;
       left:55%;
       margin: -20px -50px;
       position:relative;
    }

    .completeStyle {
		background-color: lightblue;
		border-radius:10px;
		font-size:25px;
		color: white;
        left:50%;
        margin: -10% -20%;
        padding:3%;
        padding-right: 4%;
        padding-left: 4%;
    }

</style>
</html>
