<!DOCTYPE html>
<html>

<!--
This is the homepage of the app that you land on after signing up or logging in where it shows an image of Play Pal, a welcome message with the user's name using an ajax call, a start button to begin playing the game, and a log out button.
-->

<head>
  <title>Home</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">

    <script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(() => {
      // get the current username using session stirage property
      const currentUser = sessionStorage.getItem("currentUser");
      //display welcome message
      $('#helloUser').html('Welcome, ' + currentUser + '!');
      console.log('session storage, my name is ', currentUser);
// start button clicked
  $('#startButton').click(() => {
      window.location="/task_overview";
  });
});

  function logOut() {
      sessionStorage.clear();
      window.location="/";
      alert( 'You are logged out' );
}
  </script>
</head>

<body style="background-color:#d0fcce;">
	<br><br>
 	<center>
		<img src="PlayPalLogo.png"  width="90%" height="100%"></img><br><br>
	</center>

	<h2 id="helloUser" style="text-align: center"></h2>
	<br>

	<div>
		<center>
		<button id="startButton" type="button" class="startBtn">Start</button>
	</div>

	<div></center>
		<center>
		<button id ="logOut" onclick="logOut()" style = "border: none;
		  background-color: #d0fcce;
		  color: #65b473;
		  padding: 14px 28px;
		  font-size: 20px;
		  cursor: pointer;">Log Out
		</button>
		</center>
	</div>
</body>
</html>
