<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css"> 
    <script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
          //code to display current number of points when the page loads
        $(document).ready(() => {
         console.log("Working!");
         $.ajax({
          url: '/users',
          type: 'GET',
          dataType: 'json',
          success: (data) => {
            console.log('You recieved some data!', data);
            $('#helloUser').html('Hello, ' + data[data.length-1] + '!');
           }
         })
      });
    </script>

</head>

<body>
  <div class="header" id="tasks">
    <h1>Home</h1>
  </div>

	<br>
<button onclick="goBack()"> Go Back</button>

<h2 id="helloUser" style="text-align: center"></h2>
<img src="playpal.png" style="width:84%; padding-left:18%; padding-top: 5%"></img>
<br><br><br>
<div class="logoutBtn">
  <a href="/">Log out</a>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>
	<br><br>
	<br><br>

  <div class="icon-bar">
    <a href="home" class="active"><i class="fa fa-home"></i></a>
    <a href="task_overview"><i class="fa fa-map-pin"></i></a>
    <a href="rewards"><i class="fa fa-trophy"></i></a>
  </div>



<style>
body {margin:0;}
</style>
</body>
</html>
