<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>

<body>
    <center>
        <div id="homepage">
            <h1>Goal</h1>
            <h1>Diggers</h1>
        </div>          
        <div id="start-container">
            <button style="width:80px;height:50px;border:0;">Start</a>
        </div>
	<div id="rewards-container">
            <button style="width:80px;height:50px;border:0;">Rewards</a>
        </div>
    </center>
</body>
</html>
