<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    //code to display current number of points when the page loads
          $(document).ready(() => {
           console.log("Working!");
           $.ajax({
            url: '/users',
            type: 'GET',
            dataType: 'json',
            success: (data) => {
              console.log('You recieved some data!', data);
              $('#helloUser').html('Welcome ' + data[data.length-1] + '!');
             }
           })

           $('#startButton').click(() => {
               window.location="/task_overview";
             });
             $('#logOut').click(() => {
               window.location="/";
              alert( 'You are logged out' );
             });
        });
    </script>

</head>

<body style="background-color:#d0fcce;">
	<br><br>
  <center>

<img src="PlayPalLogo.png"  width="50%"></img><br><br>
</center>
<h2 id="helloUser" style="text-align: center"></h2>
<br>
<div>
<center>
<button id="startButton" type="button" class="startBtn">Start</button></div><br><br>
<div></center>
<center>
<a id ="logOut" type="button" class="logoutBtn">Log Out</a></center>

	<br><br><br><br><br><br


</body>
</html>
