<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <script src="jquery-3.3.1.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {
 $('#start-button').click(() => {
   //console.log('Debug Test Start Button');
   $.ajax({
       url: 'Tasks_page/',
       type: 'GET',
       dataType: 'json',
       success: (data) => {
        //document.location.href =  'http://localhost:3000/Tasks_page.html'
        console.log('Changed to Tasks Page');
       }
   });
 });
});



    </script>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <center>
        <div id="homepage">
            <h1>Goal</h1>
            <h1>Diggers</h1>
        </div>          
        <div id="start-container">
            <button onclick="window.location.href='tasks_page'" style="width:80px;height:50px;border:0;">Start</a>
        </div>
	<div id="rewards-container">
            <button onclick="window.location.href='rewards'" style="width:80px;height:50px;border:0;">Rewards</a>
        </div>
	<div id="howTo-container">
            <button onclick="window.location.href='howToPlay'" style="width:80px;height:50px;border:0;">How to Play</a>
        </div>
    </center>
</body>
</html>
