<!DOCTYPE html>
<html>
<head>
	<title>How To Play</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
	<button onclick="goBack()"> Go Back</button>

	<div class="bodyText">
		<h1>How to Play</h1>
		<hr>
		<h3>How to Play:</h3>
		<p>_________________</p>
		<br><br>
		<h3>How to Approve:</h3>

	</div>

	<div class="navbar">
    	<a href="/tasks">Home</a>
    	<a href="task_overview">Overview</a>
     	<a href="rewards">Rewards</a>
   </div>



<script>
	function goBack() {
  		window.history.back();
	}
</script>

</body>

<style>
	.bodyText {
		text-align: center;
	}

	.navbar {
		width:100%;
		overflow: hidden;
      	position: fixed;
      	bottom: 0;
	}
</style>
</html>
