<!DOCTYPE html>
<html>
<head>
	<title>How To Play</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
	<button onclick="goBack()"> Go Back</button>

	<div class="bodyText">
		<h1>How to Play page</h1>
		<p>Currently placeholder</p>
	</div>

	<div class="navbar">
    	<a href="home">Home</a>
    	<a href="task_overview">Overview</a>
     	<a href="rewards">Rewards</a>
   </div>



<script>
	function goBack() {
  		window.history.back();
	}
</script>

</body>

<style>
	.bodyText {
		text-align: center;
	}
</style>
</html>
