<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <script src="jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
  <script type="text/javascript">
  // jQuery convention for running when the document has been fully loaded:
$(document).ready(() => {
  $('#readButton').click(() => {
    const requestURL = 'users/' + $('#nameBox').val();
    const userNickname = document.getElementById('nameBox').value;
    const userPassword = document.getElementById('passwordBox').value;
    sessionStorage.setItem("currentUser", "");
    console.log('making ajax request to:', requestURL);

    $.ajax({
      url: requestURL,
      type: 'GET',
      dataType : 'json', // this URL returns data in JSON format
      success: (data) => {
        if (data.name == userNickname && data.password == userPassword) {
         sessionStorage.setItem("currentUser", userNickname);
        sessionStorage.setItem("currentPoints", data.points);
         window.location='/home'
        console.log('ajax get name&points request on login page!', data.name, data.points);
} else {
         alert('Invalid username or password');
        }
      },
    });
  });

      $(document).ajaxError(() => {
        $('#status').html('Error: unknown ajaxError!');
      });
      });
      </script>
      </script>

</head>

  <body>

    <div class="header" id="login">
      <h1>Play Pal</h1>
    </div>

    <br><br>
<center><form id="logInForm">
  <h1>Log In</h1>
  <hr><br><br>
    Nickname:<br><input id="nameBox" type="text" placeholder="Enter Your Nickname"><br><br>
    Password:<br><input id="passwordBox" type="password" placeholder="Enter Your Password"><br>
     <br><button id="readButton" type="submit" href="home"> Login</button>
     <br><div id="nameDiv"></div>
     <br><div id="pointsDiv"></div>
     <br><div id="status"></div>


</form></center>

</body>
</html>
