<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<head>
<center><form action="tasks">
    Email:<br>
    <input type="text" name="firstname" value="">
    <br>
    Password:<br>
    <input type="text" name="lastname" value="">
    <br><br>
    <input type="submit" value="Login">
</form></center>

</head>
</html>
