<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <script src="jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
  // jQuery convention for running when the document has been fully loaded:
$(document).ready(() => {
  $('#readButton').click(() => {
    const requestURL = 'users/' + $('#nameBox').val();
    const userNickname = document.getElementById('nameBox').value;
    const userPassword = document.getElementById('passwordBox').value;
    console.log('making ajax request to:', requestURL);
    $.ajax({
      // all URLs are relative to http://localhost:3000/
      url: requestURL,
      type: 'GET',
      dataType : 'json', // this URL returns data in JSON format
      success: (data) => {
        console.log('You received some data!');
        if (data.name == userNickname && data.password == userPassword) {
         window.location='/home';
        } else {
          //$('#status').html('Error: could not find user at URL: ' + requestURL);
         alert('Invalid username or password');
        }
      },
    });
  });
      $(document).ajaxError(() => {
        $('#status').html('Error: unknown ajaxError!');
      });
      });
      </script>
      <script>
		function goSignUp() {
	  		window.location="/";
		}
	</script>

</head>

  <body style="background-color:#d0fcce;">
      <center>
      <img src="PlayPalLogo.png" alt="Main Title" width="290" height="320"></img>
  	  </center>
<center><form id="logInForm">
  <h1><font face="Segoe UI" color="#65b473" size ="7">Login</font></h1>
</center>
    <font face="Segoe UI" color="#000000" size ="4" style="position:relative; left:20px;" >Username:</font>
      <br><input id="nameBox" type="text" placeholder="Enter Your Nickname" style="position:relative; width: 320px; left:21px;"><br><br>
      <font face="Segoe UI" color="#000000" size ="4" style="position:relative; left:20px;" >Password:</font>
     <br><input id="passwordBox" type="password" placeholder="Enter Your Password" style="position:relative; width: 320px; left:21px;"><br><br>
     <center>
     <button id="readButton" type="submit" href="home" style="background-color: #23C162; /* Green */
  border: 2px solid #65b473; color: #FFFFFF; padding: 15px 60px; text-align: center; text-decoration: none;
  display: inline-block; font-size: 24px; margin: 4px 2px; cursor: pointer; border-radius: 12px;">
     Submit</button>
     </form>
     <p>Or<button style=  "background-color: #d0fcce; border: none;
  color: #0066FF;" onClick="goSignUp()">Sign Up</button></p>
 </center>

</body>
</html>
