<!DOCTYPE html>
<html>
<head>
	<title>Rewards</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <center>
        <div id="rewards">
            <h1>Rewards</h1>
        </div>          
    </center>

    <button onclick="goBack()"> Go Back</button>

    <script>
      function goBack() {
        window.history.back();
    }
    </script>
    
  <div class="points">
     <p>
	  <h2>Total Points: 0</h2>
     </p>
  </div>
	
	
  <div class="rewardList">
     <p>
	<h2>Rewards</h2>
     </p>
	<p>Reward #1 100 points</p>
	<p>Reward #2 200 points</p>
	<p>Reward #3 300 points</p>
  </div>

<div class="navbar">
    <a href="/tasks">Home</a>
    <a id="task_overview" href="task_overview">Overview</a>
    <a id="rewards" href="rewards">Rewards</a>
  </div>
	
</body> 

<style>
  .navbar {
    width:100%;
    overflow: hidden;
        position: fixed;
        bottom: 0;
  }
</style>
</html>
