<!DOCTYPE html>
<html>
<head>
	<title>Rewards</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/layout.css">
<script src="jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
	//The rewards page displays what rewards have and haven't been purchased yet. It also handles ensuring that the user has enough points to buy a reward. If they do the page communicates with the backend to unlock that reward in the database, when the page is loaded again that reward will be removed from the purchaseable list.




  //code to display current number of points when the page loads
	$(document).ready(() => {
	console.log("Working!");
	$.ajax({
	url: '/points',
	type: 'GET',
	dataType: 'json',
	success: (data) => {
		console.log('You recieved some data!', data);
		$('#pointsDiv').html('Total Points: ' + data.points);
	 }
 })
   
   //Code to display what has already been purchased.
   $.ajax({
    url: '/currentRewards',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
      const buttonIDs = ['w10','w20', 'w30', 'w40', 'p10', 'p20', 'p30', 'p40', 'pu10', 'pu20', 'pu30', 'pu40'];
      console.log('You recieved some data!', data);
      for (let i = 0; i < buttonIDs.length; i++){
        if(data[i] == 1){
          document.getElementById(buttonIDs[i]).disabled = true;
          document.getElementById(buttonIDs[i]).style.backgroundColor = "gray" ;
          console.log('reward ' + buttonIDs[i] + ' has been purchased.')

        }
       else{
        console.log('reward ' + buttonIDs[i] + ' is still purchaseable.')
       }
      }
     }
   })



//Rewards Buttons Code (brekdown in comments of w10 code), each chunk of code corrisponds to one button
$('#w10').click(() => {
   console.log('clicked')
   //Code checks to see if you have enough points to buy the reward
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          //If you do have enough points than this code removes those points and tells the database the reward has been purchased, then disables the button and updates the points div 
          if (data.points >= 10){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 10,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'w10',
                   },
                   success: (data) => {
                  document.getElementById("w10").disabled = true;
                  document.getElementById("w10").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          //If you don't have enough points than nothing occurs
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#w20').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 20){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 20,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'w20',
                   },
                   success: (data) => {
                  document.getElementById("w20").disabled = true;
                  document.getElementById("w20").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#w30').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 30){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 30,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'w30',
                   },
                   success: (data) => {
                  document.getElementById("w30").disabled = true;
                  document.getElementById("w30").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#w40').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 40){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 40,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'w40',
                   },
                   success: (data) => {
                  document.getElementById("w40").disabled = true;
                  document.getElementById("w40").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#p10').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 10){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 10,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'p10',
                   },
                   success: (data) => {
                  document.getElementById("p10").disabled = true;
                  document.getElementById("p10").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#p20').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 20){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 20,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'p20',
                   },
                   success: (data) => {
                  document.getElementById("p20").disabled = true;
                  document.getElementById("p20").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#p30').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 30){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 30,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'p30',
                   },
                   success: (data) => {
                  document.getElementById("p30").disabled = true;
                  document.getElementById("p30").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#p40').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 40){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 40,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'p40',
                   },
                   success: (data) => {
                  document.getElementById("p40").disabled = true;
                  document.getElementById("p40").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });
$('#pu10').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 10){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 10,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'pu10',
                   },
                   success: (data) => {
                  document.getElementById("pu10").disabled = true;
                  document.getElementById("pu10").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#pu20').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 20){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 20,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'pu20',
                   },
                   success: (data) => {
                  document.getElementById("pu20").disabled = true;
                  document.getElementById("pu20").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#pu30').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 30){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 30,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'pu30',
                   },
                   success: (data) => {
                  document.getElementById("pu30").disabled = true;
                  document.getElementById("pu30").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });

$('#pu40').click(() => {
   console.log('clicked')
   $.ajax({
    url: '/points',
    type: 'GET',
    dataType: 'json',
    success: (data) => {
    console.log('You recieved some data!', data);
          if (data.points >= 40){
              $.ajax({
              url: '/removePoints',
              type: 'POST',
              data: {
              lostPoints: 40,
                    },
              success: (data) => {
                   $.ajax({
                   url: '/addReward',
                   type: 'POST',
                   data: {
                   rewardID: 'pu40',
                   },
                   success: (data) => {
                  document.getElementById("pu40").disabled = true;
                  document.getElementById("pu40").style.backgroundColor = "gray" ;
                  console.log('you received some data!' + data);
                  }
                 })

                   $.ajax({
                   url: '/points',
                   type: 'GET',
                   dataType: 'json',
                   success: (data) => {
                   console.log('You recieved some data!', data);
                   $('#pointsDiv').html('Total Points: ' + data.points);
                     }
                    })
                    console.log('you received some data!' + data);
                    }
                });
              }
          else{
            console.log('not enough points to purchase');
              }
              }
            })
  });
//End of Button Code
});
</script>

<style>
body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* The image used */
  background-image: url("Rewards Background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrbutton{
  background-color: #FFFFFF;
  border: 2px solid #E1E1E1;
  border-radius: 8px;
  color: #E1E1E1;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 2px;
  cursor: pointer;
}

.prbutton{
  background-color: #FFCDFF;
  border: 2px solid #FFB6FF;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 2px;
  cursor: pointer;
}

.purbutton{
  background-color: #D7DEFF;
  border: 2px solid #D2D2FF;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 2px;
  cursor: pointer;
}
</style>

</head>


<body background= "Rewards Background.png">
  <div class="header" id="rewards">
    <h1>Rewards</h1>
  </div>

	<br>

		<div class="container">

			<center>
			<h2><div id = "pointsDiv"></div></h2>
            </center>
<br>
         <div class = "whiteButtons1">
            <p style="font-size:25px; padding: 0px 5px;">Clothes</p>
         	<center>
         	<button class="wrbutton button1" id ="w10">10 Pts</button>
            <button class="wrbutton button2" id ="w20">20 Pts</button>
            <button class="wrbutton button3" id ="w30">30 Pts</button>
            <button class="wrbutton button4" id ="w40">40 Pts</button>
            </center>
         </div>


         <br>
         <div class = "pinkButtons1">
            <p style="font-size:25px; padding: 0px 5px;">Toys</p>
         	<center>
         	<button class="prbutton button1" id ="p10">10 Pts</button>
            <button class="prbutton button2" id = "p20">20 Pts</button>
            <button class="prbutton button3" id = "p30">30 Pts</button>
            <button class="prbutton button4" id = "p40">40 Pts</button>
            </center>
         </div>

         <br>
         <div class = "purpleButtons1">
            <p style="font-size:25px; padding: 0px 5px;">Pets</p>
         	<center>
         	<button class="purbutton button1" id ="pu10">10 Pts</button>
            <button class="purbutton button2" id = "pu20">20 Pts</button>
            <button class="purbutton button3" id = "pu30">30 Pts</button>
            <button class="purbutton button4" id = "pu40">40 Pts</button>
            </center>
         </div>
</div>
			<div class="icon-bar">
				<a href="home"><i class="fa fa-home"></i></a>
				<a href="task_overview"><i class="fa fa-map-pin"></i></a>
				<a href="rewards" class="active"><i class="fa fa-trophy"></i></a>
			</div>


</body>
</html>
