<!DOCTYPE html>
<html>
<head>
	<title>Rewards</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <script src="jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
    //code to display current number of points when the page loads
    $(document).ready(() => {
   console.log("Working!");
   $.ajax({
   	url: '/points',
   	type: 'GET',
   	dataType: 'json',
   	success: (data) => {
   		console.log('You recieved some data!', data);
   		$('#pointsDiv').html('Total Points: ' + data.points);
   	 }
   })
});


</script>
</head>


<body>
  <div class="header" id="rewards">
    <h1>Rewards</h1>
  </div>

	<br>
    <button onclick="goBack()"> Go Back</button>

    <script>
      function goBack() {
        window.history.back();
    }
    </script>

		<div class="container">
			

			<h2><div id = "pointsDiv"></div></h2>
			

			<a id="totalRewards" value = 0 ></a>
		
<!--
		<script>
		var totalRewards = document.getElementById("totalRewards")
		totalRewards.innerHTML = totalRewards+10 +"%";
		</script>

		<div class="progress">
			<div class="progress-bar active" role="progressbar" aria-valuenow=totalRewards
			aria-valuemin="0"  aria-valuemax="100" style="width:10%">
			</div>
		</div>
		</div>


	<div class="icon-bar">
		<a href="tasks"><i class="fa fa-home"></i></a>
		<a href="task_overview"><i class="fa fa-map-pin"></i></a>
		<a href="rewards" class="active"><i class="fa fa-trophy"></i></a>
	</div-->

	<style>
	body {margin:0;}
	.icon-bar {
	background-color: #008080;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;

	}

	.icon-bar a {
	float: left;
	width: 33.3%;
	text-align: center;
	padding: 12px 10px;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
	}

	.icon-bar a:hover {
	background-color: #5ccc8f;
	}

	.active {
	background-color: #7accae;
	}
</style>
</html>
