<!DOCTYPE html>
<html>

  <head>
  <title>Rewards</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="jquery-3.3.1.min.js"></script>
</head>

<body style="background-color:#f3e3ff;">
  <div class="header" id="graph">
    <h1>Statistics</h1>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<br><br><br><br><br>
<center>
  <canvas id="myChart"></canvas>
</center>


<script>
var ctx = document.getElementById('myChart');
$(document).ready(function(){
$.ajax({
    url: '/currentGoals',
    method: "GET",
    success: function(data) {
      console.log(data);
      var numberOfCompleted = [];
      for(var i in data) {
        numberOfCompleted.push(data[i]);
      }
    var chartdata = {
        labels: ['Goal 1', 'Goal 2', 'Goal 3', 'Goal 4', 'Goal 5', 'Goal 6', 'Goal 7', 'Goal 8', 'Goal 9'],
        datasets: [
        {
            label: '# of Goals Completed',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            data: numberOfCompleted
        }
      ]
    };
 
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartdata
 });
},
error: function(data) {
  console.log(data);
}
});
});

</script>


    <div class="icon-bar">
           <a href="home"><i class="fa fa-home"></i></a>
           <a href="task_overview"><i class="fa fa-map-pin"></i></a>
           <a href="rewards"><i class="fa fa-trophy"></i></a>
           <a href ="statistics" class="active"><i class="fa fa-chart-bar"></i></a>
         </div>
</body>
</html>
