<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <h1 style="text-align:center;">Tasks</h1>

<style>
p {
  border: 1px solid #116655;
  padding: 50px;
}
</style>


<button onclick="goBack()"> Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
	<br><br>

<div class="container">
     <p>
       <a id ="Task1" href="#" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 1
       </a>
       <a id ="Task2" href="task2.html" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 2
       </a>
       <a id ="Task3" href="#" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 3
       </a>
     </p>

     <p>
       <a id ="Task4" href="#" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 4
       </a>
       <a id ="Task5" href="#" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 5
       </a>
       <a id ="Task6" href="#" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 6
       </a>
     </p>

     <p>
       <a id ="Task7" href="#" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 7
       </a>
       <a id ="Task8" href="#" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 8
       </a>
       <a id ="Task9" href="#" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-lock"></span>Task 9
       </a>
     </p>

   </div>
	<br><br>


  <div class="navbar">
    <a id="home"href="/">Home</a>
   <a id="task_overview" href="task_overview">Overview</a>
    <a id="rewards" href="rewards">Rewards</a>
  </div>

</body>
<style>
  .navbar {
    width:100%;
    overflow: hidden;
        position: fixed;
        bottom: 0;
  }
</style>
</html>
