<!DOCTYPE html>
<html>
<head>
  <title>Goals Page</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css"> 


</head>

<body>
  <div class="header" id="tasks">
    <h1>Goals</h1>
  </div>

	<br>


<button onclick="goBack()"> Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
	<br><br>

<div class="container">
     <p>
       <a id ="Task1" href="task1" class="btn btn-info btn-lg" aria-hidden="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 1
       </a>
       <a id ="Task2" href="#" class="btn btn-info btn-lg disabled" aria-disabled="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 2
       </a>
       <a id ="Task3" href="#" class="btn btn-info btn-lg disabled" aria-disabled="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 3
       </a>
     </p>

     <p>
       <a id ="Task4" href="#" class="btn btn-info btn-lg disabled" aria-disabled="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 4
       </a>
       <a id ="Task5" href="#" class="btn btn-info btn-lg disabled" aria-disabled="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 5
       </a>
       <a id ="Task6" href="#" class="btn btn-info btn-lg disabled" aria-disabled="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 6
       </a>
     </p>

     <p>

       <a id ="Task7" href="#" class="btn btn-info btn-lg disabled" aria-disabled="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 7
       </a>
       <a id ="Task8" href="#" class="btn btn-info btn-lg disabled" aria-disabled="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 8
       </a>
       <a id ="Task9" href="#" class="btn btn-info btn-lg disabled" aria-disabled="true">
         <span class="glyphicon glyphicon-lock"></span>Goal 9
       </a>
     </p>

   </div>
	<br><br>

  <div class="icon-bar">
    <a href="tasks" class="active"><i class="fa fa-home"></i></a>
    <a href="task_overview"><i class="fa fa-map-pin"></i></a>
    <a href="rewards"><i class="fa fa-trophy"></i></a>
  </div>


<style>
body {margin:0;}
</style>
</body>
</html>
