<!DOCTYPE html>
<html>

<head>
  <title>Task Overview Page</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<script>
	function goBack() {
	  window.history.back();
	}

	function myMap() {
		var mapProp= {
		  center:new google.maps.LatLng(32.86877, -117.22853),
		  zoom:13,
		};

		var map = new google.maps.Map(document.getElementById("googleMap"),mapProp, {
			mapTypeControlOptions: {
            	mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
          }
		});

		var doylePark = {lat: 32.864566, lng: -117.220322};

		var markerDoyle = new google.maps.Marker({
			position: doylePark,
			map: map
		});

		var utc = {lat: 32.870621, lng: -117.211567};

		var markerUtc = new google.maps.Marker({
			position: utc,
			map: map
		});

		var styledMapType = new google.maps.StyledMapType(
            [
			  {
			    "featureType": "poi.park",
			    "elementType": "geometry",
			    "stylers": [
			      { "color": "#A4E8B8" }
			    ]
			  },
			  {
			    "featureType": "road.arterial",
			    "elementType": "geometry",
			    "stylers": [
			      { "color": "#F9F4F0" }
			    ]
			  },{
			    "featureType": "poi.place_of_worship",
			    "elementType": "labels",
			    "stylers": [
			      { "visibility": "off" }
			    ]
			  },
			  {
			    "featureType": "poi.medical",
			    "elementType": "labels",
			    "stylers": [
			      { "visibility": "off" }
			    ]
			  }
			],
			{name: 'Styled Map'});

		map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');

	}
</script>


<body>
    <div class="header" id="task_overview">
      <h1>Task Overview</h1>
    </div>
	<br>
    <style>
    /* Style the header */
    .header {
      padding: 20px 16px;
      background: #008080;
      text-align: center;
      color: #f1f1f1;
      font-size: 20 px;
    }
    </style>

<button onclick="goBack()"> Go Back</button>
  <h5 style="text-align: center">Map</h5>

<div id="googleMap" style="width:100%;height:400px;"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaxRdT8G8uKojUzG1PX2OQyeXD-B3T64A&callback=myMap"></script>

  <div class="icon-bar">
    <a href="tasks" ><i class="fa fa-home"></i></a>
    <a href="task_overview" class="active"><i class="fa fa-map-pin"></i></a>
    <a href="rewards"><i class="fa fa-trophy"></i></a>
  </div>


<style>
body {margin:0;}
.icon-bar {
  background-color: #008080;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.icon-bar a {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 12px 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #5ccc8f;
}

.active {
  background-color: #7accae;
}
</style>
</html>
