<!DOCTYPE html>
<html>
<head>
	<title>Task 2</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
	<button onclick="goBack()"> Go Back</button>

	<div class="bodyText">
		<h1>Task 2</h1>
		<br><br>
		<h3>Take a picture of a flower</h3>
		<div class=imgBorder>
			<img src="http://clipart-library.com/images/di48g6jie.png" style="width:20%">
		</div>
	</div>

	<div class="navbar">
    	<a href="home.html">Home</a>
    	<a href="task_overview.html">Overview</a>
     	<a href="rewards.html">Rewards</a>
   </div>


<!--
	<div>
		<br>
		<button style="width:80px;height:50px;border:0;">Take Photo</a>
	</div>
-->
</body>

<style>
	.bodyText {
		text-align: center;
	}

	.imgBorder {
		border: 1px solid black;
		
		padding: 5px;
		display: block;
 		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
	}
</style>
</html>
