<!DOCTYPE html>
<html>
  <head>
  <title>Task Overview Page</title>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/css/layout.css">

</head>



<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.
  var map;
  var service;
  var infowindow;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13
    });//
    infoWindow = new google.maps.InfoWindow;

    // current location
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var home = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };///end if statement

        infoWindow.setPosition(home);
        infoWindow.setContent('You are here!');
        infoWindow.open(map);
        map.setCenter(home);

        var homeMarker = new google.maps.Marker({
         position: home,
         map: map,
         title: 'Home'
        });

          var request1 = {
              location: home,
              keyword: 'Park',
              rankBy: google.maps.places.RankBy.DISTANCE,
              //radius: ['10000']
            };//end var request


          var request2 = {
                location: home,
                keyword: 'Mall',
                rankBy: google.maps.places.RankBy.PROMINENCE,
                radius: ['10000'],

              };//end var request

          var request3 = {
              location: home,
              keyword: 'Beach',
              rankBy: google.maps.places.RankBy.PROMINENCE,
              radius: ['10000']
              };//end var request



            service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request1, callback);
            service.nearbySearch(request2, callback);
            service.nearbySearch(request3, callback);


      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }//end function initMap


  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        //console.log(results[i]);
        var place = results[0];
        createMarkers(place);

      }
    }
  }//end function callback

  function createMarkers(place) {

      var image = {
        url: place.icon,
        size: new google.maps.Size(100,100),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 0),
        scaledSize: new google.maps.Size(30, 30)
      }

      var marker = new google.maps.Marker({
        map: map,
        icon: image,
        title: place.name,
        position: place.geometry.location,
      });

      marker.addListener('click', function() {
      map.setZoom(15);
      map.setCenter(marker.getPosition());
      infowindow.open(marker.get('map'), marker);
      });

      //content to place into infoWindows
      var myParkGoals = '<p><a id ="Task1" href="goal1" class="btn btn-info btn-lg">Goal 1</a>'+ '<br></br>'+
          '<a id ="Task2" href="goal2" class="btn btn-info btn-lg">Goal 2</a>'+ '<br></br>'+
          '<a id ="Task3" href="goal3" class="btn btn-info btn-lg">Goal 3</a>' +'</p>';
      var myMallGoals = '<p><a id ="Task4" href="goal4" class="btn btn-info btn-lg">Goal 1</a>'+ '<br></br>'+
          '<a id ="Task5" href="goal5" class="btn btn-info btn-lg">Goal 2</a>'+ '<br></br>'+
          '<a id ="Task6" href="goal6" class="btn btn-info btn-lg">Goal 3</a>' +'</p>';
      var myBeachGoals = '<p><a id ="Task7" href="goal7" class="btn btn-info btn-lg">Goal 1</a>'+ '<br></br>'+
          '<a id ="Task8" href="goal8" class="btn btn-info btn-lg">Goal 2</a>'+ '<br></br>'+
          '<a id ="Task9" href="goal9" class="btn btn-info btn-lg">Goal 3</a>' +'</p>';


      if(place.types[0]=="park"){
        var infowindow = new google.maps.InfoWindow({
         content: myParkGoals
        });
      }
      else if (place.types[0]=="shopping_mall"){
         var infowindow = new google.maps.InfoWindow({
          content: myMallGoals
         });
      }
       else {
          var infowindow = new google.maps.InfoWindow({
          content: myBeachGoals
       });
       }//end if statement
  }//end function

</script>

<script src="jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    //code to display current number of points when the page loads
    $(document).ready(() => {
      console.log("Working!");
       $.ajax({
        url: '/points',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          console.log('You recieved some data!', data);
          $('#pointsDiv').html('Total Points: ' + data.points);
     }
   })
});
</script>


<body style="background-color:#f3e3ff;">
  <div class="header" id="task_overview">
    <h1>Goal Overview</h1>
  </div>
  <h4 id="pointsDiv" style="text-align: center; font-size:32px; padding: 5px;"></h4>
<div id="map" style="width:100%;height:410px;"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaxRdT8G8uKojUzG1PX2OQyeXD-B3T64A&libraries=places&callback=initMap"></script>

<div class="icon-bar">
  <a href="home"><i class="fa fa-home"></i></a>
  <a href="task_overview" class="active"><i class="fas fa-map-pin"></i></a>
  <a href="rewards"><i class="fa fa-trophy"></i></a>
  <a href ="statistics"><i class="fa fa-chart-bar"></i></a>
</div>


</body>
</html>
